<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> home </h1>
    <form action="/summonerResult" method="get"> 

    <input type="text"  name="summonerName" value="" id="summonerName">
    
    <button type="submit" > 버튼 </button>
</form>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    /*
    function sending(){
        var u_name = document.getElementById("userid").value;
        alert(u_name);
        axios.get('/result',{
        params:{
            u_name : u_name,
         }
      })
      .then((res)=>{
        
        console.log(res.data);
      });

    }
    */
    

</script>
</html>