<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{background-color:#5B7CF5;}
    .main_images{text-align: center;}
    .search mb-3{width: 600px;margin: 0 auto;}
    .wrap{margin: 0 auto;}


</style>
<body>
    <nav>


    </nav>
    <div class="wrap">
    <div class="main_images">
        <img src="https://opgg-static.akamaized.net/logo/20210927154409.23a3a1ac70974fd0a8f1cb1b20bceda8.png">
    </div>
    <div class="search">
    <form action="/summonerResult" method="get"> 

    <div class="input-group mb-3">  
      <input type="text" class="form-control" name="summonerName" value="" id="summonerName" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <button type="submit" > 버튼 </button>
    </form>
</div>
</div>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    /*
    function sending(){
        var u_name = document.getElementById("userid").value;
        alert(u_name);
        axios.get('/result',{
        params:{
            u_name : u_name,
         }
      })
      .then((res)=>{
        
        console.log(res.data);
      });

    }
    */
    

</script>
</html>