<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello</h1>
    <form method="post" action="doLogin"> 
        <input type="text" name="id" value="" id="id">
        <input type="password" name="password" value="" id="password">
        <button type="submit">로그인</button>


    </form>
    <a href="logginedUserOnly"> 이동 test </a>
    
    
</body>
</html>