<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <div class="main_contents">
       <div class="date" v-for="(data, idx) in realGameCreation" :key="idx">

        {{realGameCreation[idx]}}

       </div>

    <h1> 결과 </h1>
    <input type="text" name="summonerName" value=" <%=summonerName%>" id="summonerName">
 
 
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    const app = new Vue({
        el: '.main_contents',
        data:{
            accountId:'',
            name:'',
            profileIconId:'',
            puuid:'',
            revisionDate:'',
            summonerLevel:'',
            id:'',
            leaguePoints:'',
            losses:'',
            queueType:'',
            rank:'',
            tier:'',
            win:'',
            banChampions:[],
            baron:[],
            summonerName:'',
            matchListSummonerName:[], // 전적검색시 list로 출력되는 소환사 이름 
            championName:[], //전적검색시 나오는 챔피언 list 
            gameCreation:[], // 게임 날짜 ( 생성일 )
            realGameCreation:[],// 게임날짜 ( 가공 + 정렬 작업 )
            champLevel:[], //소환사 레벨 
            deaths:[],// kill
            kills:[], // death
            assists:[], // assists
            items:[], // 아이템 
            win:[], // 승패 여부 
           
           

        },
        mounted(){
            var summonerName = document.getElementById("summonerName").value;
                //해당 소환사의 이름을 통해 소환사의 정보를 얻어옵니다.
                axios.get('/getDataListBysummonerName',{
                 params:{
                 summonerName : summonerName,
                }
            })
            .then((res)=>{
           
            this.accountId = res.data.accountId;
            this.name = res.data.name;
            this.profileIconId = res.data.profileIconId;
            this.puuid = res.data.puuid;  
            this.revisionDate = res.data.revisionDate;
            this.id = res.data.id; // ex) : QJJvQmbVJnkBjqoZaJ3uok86sjhbiGqqS2Fk7Hh-C13_NSQ
            this.summonerLevel = res.data.summonerLevel;
            this.summonerName = res.data.name
            // 소환사의 encrypted id 를 통해 소환사의 리그 정보를 가져옵니다.
                axios.get('/getSummonerRankById',{
                 params:{
                    id : this.id,
                 }
             })
             .then((res)=>{
                 
                 for(let i = 0 ; i < Object.keys(res.data).length; i++){
                    
                    this.leaguePoints = res.data[i].leaguePoints;
                    this.losses = res.data[i].losses;
                    this.queueType = res.data[i].queueType;
                    this.rank = res.data[i].rank;
                    this.tier = res.data[i].tier;
                    this.wins = res.data[i].wins;
                    
                    
                 }
             })

            // 소환사의 puuid 를 통해 match id list 를 가져옵니다.
                axios.get('/getMatchIdListByPuuId',{
                 params:{
                    puuid : this.puuid,
                 }
             })
             .then((res)=>{
               
                //가져온 match id list 를 기준으로 해당 id 에 대한 매치 정보들을 가져옵니다. 
                for(let i = 0 ; i < Object.keys(res.data).length; i++){
                    
                    axios.get('/getMatchListByMatchIds',{
                     params:{
                        matchIds : res.data[i],
                    }
                    })
                    .then((res)=>{
                       // console.log(res.data.info);
                        //console.log(res.data.info.gameCreation); // 게임 생성된 날짜 ( 플레이한 날짜 )
                        var timestamp = res.data.info.gameCreation;
                        var date = new Date(timestamp);                      
                        //게임 날짜 정렬 
                        this.gameCreation.push(date);
                        this.realGameCreation.push(String(date).replace("GMT+0900 (한국 표준시)",""));
                        // 검색한 , 해당 소환사의 데이터를 filter 하기 위한 로직! 
                        
                        for(var i = 0 ; i < Object.keys(res.data.info.participants).length; i++){

                            //console.log(res.data.info.participants[i]);
                            // 검색한 유저의 게임 리스트 정보 
                            // ex) 킬,데스,어시,챔피언이름,승패여부,챔피언레벨,아이템,
                            if(res.data.info.participants[i].summonerName == this.summonerName){
                                
                                console.log(res.data.info.participants[i]);
                                this.championName.push(res.data.info.participants[i].championName);
                                this.matchListSummonerName.push(res.data.info.participants[i].summonerName);
                                this.champLevel.push(res.data.info.participants[i].champLevel);
                                this.assists.push(res.data.info.participants[i].assists);
                                this.kills.push(res.data.info.participants[i].kills);
                                this.deaths.push(res.data.info.participants[i].deaths);
                                this.items.push(res.data.info.participants[i].item0,res.data.info.participants[i].item1,res.data.info.participants[i].item2,res.data.info.participants[i].item3,res.data.info.participants[i].item4);
                                this.win.push(res.data.info.participants[i].win);
                                
                               
                                
                                
                                

                            }
                            
                            
                        }
                      
                        
                        //console.log(res.data.info);
                        // 팀 오브젝트 정보 
                        /*
                        for(var i = 0 ; i < Object.keys(res.data.info.teams).length; i++){
                            console.log(res.data.info.teams[i].objectives)
                            
                            this.baron.push(res.data.info.teams[i].objectives.baron.kills);
                            
                            // 팀 밴정보 
                            for(var j = 0 ; j < Object.keys(res.data.info.teams[i].bans).length ; j++){
                                this.banChampions.push(res.data.info.teams[i].bans[j].championId);
                                
                            }
                            
                            
                        }
                        */

                    });

                }
             });

           });
        },
        created(){

        },
        methods:{

        },

        

    })



</script>

</html>